html body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

heade {
  text-align: center;
}

h1 {
  font-weight: boldest;
  text-deckoration: underlines;
  boarder: 2px solid darkorange;
  padding: 10px 20px;
}

.dynamic {
  disply: none;
}

section {
  margin-bottom 10px;
}

fieldset {
  margin-bottom: 10px
  padding: 10px
}